.calc{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 70px;
  margin-bottom: 30px;
}
.rbc-calendar {
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 70%;
  height: 70%;
  
}

/* Headers styling */
.rbc-header {
  font-weight: bold;
  font-size: 1.2rem;
  color: #34495e;
  border-bottom: 2px solid #dcdfe4;
  padding: 10px;
  background-color: #ecf0f1;
}

/* Custom events styling */
.rbc-event {
  background-color: #3498db;
  border: none;
  padding: 5px;
  border-radius: 4px;
  color: white;
  font-size: 0.9rem;
}

.rbc-event:hover {
  background-color: #2980b9;
}

/* Current day highlight */
.rbc-day-bg.rbc-today {
  background-color: #e74c3c !important;
  opacity: 0.2;
}
.rbc-day-bg:hover{
  background-color:#99d8e7 ;
}
/* Day view header styling */
.rbc-time-header {
  background-color: #ecf0f1;
  padding: 10px;
  border-bottom: 2px solid #bdc3c7;
}

.rbc-time-header-cell {
  color: #2c3e50;
}


@media (max-width: 768px) {
  .rbc-calendar {
    height: 100vh;
  }
}